@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-secondary: #34d399;
  --color-accent: #f59e0b;

  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
